<div class="container-fluid mt-1 p-2">
    <div class="d-flex justify-content-between bd-highlight">
        <div class="p-1 ms-5 bd-highlight logo">ClearTrip</div>
        <div class="p-1 me-5 bd-highlight">
            <button type="button" class="btn btn-primary px-3">Login/SignUp</button>
        </div>
    </div>

    <div class="container w-75 mt-2 p-2 shadow-sm">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav w-100 d-flex justify-content-around">
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-column" routerLinkActive="active" routerLink="/hotels">
                                <img src="https://static.vecteezy.com/system/resources/previews/000/627/584/original/vector-hotel-icon-symbol-sign.jpg" alt="" width="50" height="50">
                               <span> Hotels </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-column" routerLink="/flights" routerLinkActive="active">
                              <img src="https://th.bing.com/th/id/OIP.TY7sYi9pHcuhI5WDF931uAHaGf?rs=1&pid=ImgDetMain" alt="" width="50" height="50">  
                               <span>Flights</span> 
                            </a>
                        </li>
                       

                        <li class="nav-item">
                            <a class="nav-link d-flex flex-column">
                              <img src="https://image.shutterstock.com/image-vector/homestay-logo-design-vector-260nw-1644576958.jpg" alt="" width="50" height="50">  
                                <span>  HomeStays </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-column">
                                <img src="https://flyclipart.com/thumb2/train-logo-clip-art-96351.png" alt="" width="50" height="50">  
                                <span>Trains</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-column">
                                <img src="https://th.bing.com/th/id/R.69305b1a934bc8023192e1676511210e?rik=bPy23vBSO3TbzA&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2fMiL%2fMxj%2fMiLMxjj9T.png&ehk=dKkNGpxGymg%2b516n%2bYmPW5fUKu%2bTI7jqkYTJW4LUISk%3d&risl=&pid=ImgRaw&r=0" alt="" width="50" height="50">  
                              <span>Buses</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-column">
                                <img src="https://image.shutterstock.com/image-vector/homestay-logo-design-vector-260nw-1644576958.jpg" alt="" width="50" height="50">  
                              <span>Cabs</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-column">
                                <img src="https://image.shutterstock.com/image-vector/homestay-logo-design-vector-260nw-1644576958.jpg" alt="" width="50" height="50">  
                              <span>Holiday Packages</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-column">
                                <img src="https://th.bing.com/th/id/OIP.4t40-FFMbeX_s-mB1Yn_CgHaH0?rs=1&pid=ImgDetMain" alt="" width="50" height="50">  
                              <span>Travel Insurance</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>